<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello! You have received a playlist from GraceTunes!</h1>
    <%= @content %> 

    <p>Thanks for reading and have a great day!</p>
  </body>
</html>