-#  This file is app/views/songs/view.html.haml
  
%div
  %table#playlist{:class => "table table-striped"}
    %thead
      %tr
        %th Playlists
        %th Songs
        %th View
    %tbody
      - @playlists.each do |playlist|
        %tr
          %td= playlist.name
          %td= @song_preview[playlist]
          %td= link_to "View", playlist_path(playlist)